
.box {
    font-size: 2em;
    color: white;
    text-align: center;
}
  
  .box1 {
    background-color: rgb(111, 0, 255);
    height: 100px;
    width: 100px;
  }
  
  /* inherit sizing from parent but body has no height by default so height is set to content */
  .box2 {
    background-color: silver;
    height: 50%;
    width: 50%;
  }
  
  /* set height and width relative to viewport height and width */
  .box3 {
    background-color: #cd7f32;
    height: 20vh;
    width: 50vw;
  }
  
  /* height is 10x16px (root font-size) width is 10x32px (element font-size) */
  .box4 {
    background-color: royalblue;
    height: 10rem;
    width: 10em;
  }
  
  body {
    margin: 0;
  }
  /* Style the elements here */

  
  #one {
    position: absolute;
    height: 425px;
    width: 425px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  
  .two {
    position: absolute;
    height: 325px;
    width: 325px;
    background-color: orange;
    border-radius: 60%;
    display: inline-block;
    left: 60px;
    top: 50px;
  }
  
  .three {
    position: absolute;
    height: 225px;
    width: 225px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    left: 110px;
    top: 90px;
  }
  
  .four {
    position: absolute;
    height: 155px;
    width: 155px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    left: 145px;
    top: 125px;
  }
  
  .five {
    position: absolute;
    height: 105px;
    width: 105px;
    background-color: royalblue;
    border-radius: 50%;
    display: inline-block;
    left: 166px;
    top: 145px;
  }
  .six {
    position: absolute;
    height: 65px;
    width: 65px;
    background-color: rebeccapurple;
    border-radius: 50%;
    display: inline-block;
    left: 185px;
    top: 170px;
  }